header h1 {
     font-size: 100px;
     font-family: Helvertica;
     color: khaki;
     font-weight: bold;
}
header {
     background-image: url("file:///D:/DevProject/resources/images/hacksaw.jpeg")
}
